.image-competition {
    height: 20rem;
  }
  
  
  @media (min-width: 576px) {
    .image-competition  {
        height: 20rem;
      }
  }
  
  @media screen and (min-width: 768px) {
  }
  .image-competition {
    height: 13.7rem; 
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
    .image-competition {
      height: 20rem; /*25*/
  
    }
  }
  
  .competition-card-hr div:last-of-type div:last-of-type hr
{
color: rgb(252, 252, 252);
}
