.note-float-left{
    width: 100%!important;
}
.note-float-right{
    width: 100%!important;
} 
  
  @media (min-width: 576px) {
    .note-float-left{
        width: 100%!important;
    }
    .note-float-right{
        width: 100%!important;
    } 
  }
  
  @media screen and (min-width: 768px) {
    .note-float-left{
        width: 50%!important;
    }
    .note-float-right{
        width: 50%!important;
    }  
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
    .note-float-left{
        width: 25%!important;
    }
    .note-float-right{
        width: 25%!important;
    } 
  }
  