.image-expo {
    height: 10rem;
  }
  
  
  @media (min-width: 576px) {
    .image-expo {
        height: 10rem;
      }
  }
  
  @media screen and (min-width: 768px) {
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
    .image-expo {
      height: 5rem;
  
    }
  }
  
.expo-card-hr div:last-of-type div:last-of-type hr{
  display: none;
}