.expert-insight-img {
    height: 8rem;
    width: "100%"
  }
  
  
  @media (min-width: 576px) {
    .expert-insight-img {
        height: 4rem;
      }
  }
  
  @media screen and (min-width: 768px) {
    .expert-insight-img {
        height: 10rem;
      }

  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
    .expert-insight-img {
      height: 18.75rem;
  
    }
  }
  
