
.image-height {
    height: 13rem;

  }
.stu-corner-text{
  font-size: 1.2rem;
}

  
  
  @media (min-width: 576px) {
    .image-height {
        height: 7rem;
      }
  }
  
  @media screen and (min-width: 768px) {
    .sm-card{
      height: 6.39rem !important;
    }
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
    .image-height {
      height: 6rem;
  
    }
    .sm-card{
      height: 6rem !important;
    }
    .stu-corner-text{
      font-size: 0.8rem;
    }
  }
  